<html>
    <title>OOPS..</title>
    <had>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
<style>
    body{background-color: '#ffffff';text-align: center;font-family: 'Montserrat';}
</style>
<body>
<h1>Your Room is still not confirmed.. Keep checking here for regular intervals</h1>
<h2>Given Mail id is: {{mail}}@student.onlinedegree.iitm.ac.in</h2>
<h3>Thanks for using this application. Happy Campus Visit to You!</h3>
</body>
</html>




