<html>
    <title>SUCCESS</title>
<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<style>
    body{background-color: '#ffffff';text-align: center;font-family: 'Montserrat';}
</style>
<body>
<h1>Hurray, your room is confirmed!!<br>
    Hope you have a nice stay at the campus!
</h1>
<h2>Given Mail id is: {{mail}}@student.onlinedegree.iitm.ac.in</h2>
<h3>Thanks for using this application. Happy Campus Visit to You!</h3>
</body>
</html>
